.custom-navbar {
  background-color: #1F0F5B;
  font-size: 17px;
}
.about-page {
  position: relative;
  min-height: 100vh;
}
.about-page::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../assets/bg3.png');
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  opacity: 0.2;
}
.about-page > * {
  position: relative;
  z-index: 1;
}
.carousel-item img{
    height: 450px;
    object-fit: cover;
}

.title{
    text-align: center;
    color: #FA1377;
    padding-top: 5%;
}

/* MAIN FEATURE (LEFT SIDE) */
.feature-main-title {
  font-weight: 700;
  font-size: 40px;
}

.feature-main-text {
  color: #555;
  margin-top: 20px;
  line-height: 1.6;
}

/* BUTTON */
.book-btn {
  background-color: #2563eb;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

.book-btn:hover {
  background-color: #1d4ed8;
  color: white;
}

/* SERVICES */
.service-item {
  align-items: flex-start;
}

.service-icon {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  flex-shrink: 0;
}

.service-title {
  font-weight: 600;
  margin-bottom: 3px;
}

.service-desc {
  font-size: 14px;
  color: #666;
}

.feature-main-title{
  color: #FA1377;
}

.container .book-btn{
  background-color: #FA1377;
  color: white;
  border-radius: 3px;
  font-weight: bold;
}

.container .book-btn:hover{
  background-color: #d90f66;
  color: white;
  font-weight: bold;
}

.service-icon{
  background-color: #FA1377;
  color: white;
}
/* FOOTER */
.custom-footer {
  background-color: #1F0F5B;
}

.footer-link {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  transition: 0.3s;
}

.footer-link:hover {
  color: #FA1377;
}

/* LEFT PARAGRAPH IMPROVEMENT */
.footer-desc {
  font-size: 16px;
  line-height: 1.8;
  max-width: 95%;
}

/* RIGHT ALIGNMENT */
@media (min-width: 768px) {
  .text-md-end {
    text-align: right;
  }
}
.signup-btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: none;
  background-color: transparent;
}
.signup-btn:hover{
  color: #FA1377;
  font-weight: bold;
}
